MONEYMAKER_REQUIRE_AUTH=true
MONEYMAKER_DATABASE_URL=
MONEYMAKER_RUN_REGION=australia-southeast1
MONEYMAKER_FETCH_JOB=moneymaker-fetch
MONEYMAKER_FILTER_JOB=moneymaker-filter
MONEYMAKER_IMPORT_JOB=moneymaker-import
MONEYMAKER_EXPORT_JOB=moneymaker-export
MONEYMAKER_OUTCOMES_JOB=moneymaker-rating-outcomes
MONEYMAKER_SCHEDULER_AUDIENCE=
MONEYMAKER_SCHEDULER_SERVICE_ACCOUNT=moneymaker-scheduler@moneymaker-aedf7.iam.gserviceaccount.com
FIREBASE_API_KEY=
FIREBASE_APP_ID=
FIREBASE_AUTH_DOMAIN=moneymaker-aedf7.firebaseapp.com
FIREBASE_STORAGE_BUCKET=moneymaker-aedf7-cache
MONEYMAKER_STORAGE_BUCKET=moneymaker-aedf7-cache
